.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-body {
  display: flex;
  flex: 1;
  gap: 24px;
  padding: 24px;
}

@media (max-width: 960px) {
  .app-body {
    flex-direction: column;
    padding: 16px;
  }
}
